In [1]:
import pandas as pd

In [2]:
email_df = pd.read_csv('dataset/enron_emails.csv')

In [3]:
email_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517401 entries, 0 to 517400
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   file        517401 non-null  object
 1   date        517401 non-null  object
 2   subject     498214 non-null  object
 3   from        517401 non-null  object
 4   to          517401 non-null  object
 5   email_body  460390 non-null  object
dtypes: object(6)
memory usage: 23.7+ MB

In [4]:
email_df.describe()

,file,date,subject,from,to,email_body
count,517401,517401,498214,517401,517401,460390
unique,517401,224128,159236,20328,58564,199249
top,allen___p__all_documents_1,"Wed, 27 Jun 2001 16:02:00 -0700 (PDT)",RE:,kay.mann@enron.com,None,fyi
freq,1,1118,6477,16735,21847,5397

In [5]:
email_df.head()

,file,date,subject,from,to,email_body
0,allen___p__all_documents_1,"Wed, 13 Dec 2000 18:41:00 -0800 (PST)","December 14, 2000 - Bear Stearns' predictions ...",1.11913372.-2@multexinvestornetwork.com,pallen@enron.com,in todays daily update youll find free reports...
1,allen___p__all_documents_10,"Wed, 13 Dec 2000 08:35:00 -0800 (PST)",Bloomberg Power Lines Report,messenger@ecm.bloomberg.com,None,here is todays copy of bloomberg power lines a...
2,allen___p__all_documents_100,"Mon, 9 Oct 2000 07:16:00 -0700 (PDT)",Consolidated positions: Issues & To Do list,phillip.allen@enron.com,keith.holst@enron.com,NaN
3,allen___p__all_documents_101,"Mon, 9 Oct 2000 07:00:00 -0700 (PDT)",Consolidated positions: Issues & To Do list,phillip.allen@enron.com,keith.holst@enron.com,NaN
4,allen___p__all_documents_102,"Thu, 5 Oct 2000 06:26:00 -0700 (PDT)",NaN,phillip.allen@enron.com,david.delainey@enron.com,dave here are the names of the west desk membe...

In [6]:
# email body not null
email_df_ebnn = email_df.dropna(subset=['from', 'email_body'], inplace=False)

In [7]:
email_df_ebnn.head()

,file,date,subject,from,to,email_body
0,allen___p__all_documents_1,"Wed, 13 Dec 2000 18:41:00 -0800 (PST)","December 14, 2000 - Bear Stearns' predictions ...",1.11913372.-2@multexinvestornetwork.com,pallen@enron.com,in todays daily update youll find free reports...
1,allen___p__all_documents_10,"Wed, 13 Dec 2000 08:35:00 -0800 (PST)",Bloomberg Power Lines Report,messenger@ecm.bloomberg.com,None,here is todays copy of bloomberg power lines a...
4,allen___p__all_documents_102,"Thu, 5 Oct 2000 06:26:00 -0700 (PDT)",NaN,phillip.allen@enron.com,david.delainey@enron.com,dave here are the names of the west desk membe...
5,allen___p__all_documents_103,"Thu, 5 Oct 2000 05:55:00 -0700 (PDT)",Re: 2001 Margin Plan,phillip.allen@enron.com,paula.harris@enron.com,paula million is fine phillip
9,allen___p__all_documents_107,"Tue, 3 Oct 2000 09:13:00 -0700 (PDT)",NaN,phillip.allen@enron.com,bs_stone@yahoo.com,brenda please use the second check as the octo...

In [8]:
email_df_ebnn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 460390 entries, 0 to 517400
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   file        460390 non-null  object
 1   date        460390 non-null  object
 2   subject     443042 non-null  object
 3   from        460390 non-null  object
 4   to          460390 non-null  object
 5   email_body  460390 non-null  object
dtypes: object(6)
memory usage: 24.6+ MB

In [9]:
# email body unique
email_df_ebu = email_df_ebnn.drop_duplicates(subset=['email_body'], keep='last', inplace=False)

In [10]:
email_df_ebu.head()

,file,date,subject,from,to,email_body
62,allen___p__all_documents_157,"Mon, 31 Dec 1979 16:00:00 -0800 (PST)",Re: (No Subject),phillip.allen@enron.com,muller@thedoghousemail.com,how is your racing going what category are you...
113,allen___p__all_documents_202,"Mon, 31 Dec 1979 16:00:00 -0800 (PST)",Re: MISSION SOUTH,phillip.allen@enron.com,jsmith@austintx.com,jeff i want to bid for sagewood with a rate or...
240,allen___p__all_documents_319,"Mon, 31 Dec 1979 16:00:00 -0800 (PST)",Re:,phillip.allen@enron.com,maryrichards7@hotmail.com,mary it is ok to buy a carpet shampooer about ...
391,allen___p__all_documents_456,"Mon, 19 Mar 2001 01:25:00 -0800 (PST)",Re: Denver trading,mark.whitt@enron.com,jay.reitmeyer@enron.com,in regards to your email i have recently been ...
594,allen___p__all_documents_756,"Mon, 31 Dec 1979 16:00:00 -0800 (PST)",Re: Carlsbad/El Paso: Aug 23 Update: Press Con...,phillip.allen@enron.com,scott.tholan@enron.com,scott thanks for the email i have two question...

In [11]:
email_df_ebu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199249 entries, 62 to 517400
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   file        199249 non-null  object
 1   date        199249 non-null  object
 2   subject     191914 non-null  object
 3   from        199249 non-null  object
 4   to          199249 non-null  object
 5   email_body  199249 non-null  object
dtypes: object(6)
memory usage: 10.6+ MB

In [12]:
email_df_ebu.describe()

,file,date,subject,from,to,email_body
count,199249,199249,191914,199249,199249,199249
unique,199249,179607,133580,19107,51391,199249
top,allen___p__all_documents_157,"Wed, 27 Jun 2001 16:02:00 -0700 (PDT)",RE:,jeff.dasovich@enron.com,None,how is your racing going what category are you...
freq,1,649,4712,4380,6940,1

In [13]:
# email_df_ebu.to_csv('dataset/clean_enron_emails.csv', index=False)

In [15]:
# len(all_receivers)

NameError: name 'all_receivers' is not defined